@media screen and (max-width:768px) {
    .blog__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .navbar__nav{
        display: none;
    }
    .footer__content{
        display: grid;
        grid-template-columns: 100%;
    }
    .navbar__logo{
        width: 90px;
        height: 40px;
        display: block;
    }
    .nav__lang{
        display: none;
    }
    
    
}

/*davomi bor/*